.Channel {
	.channel-header {
		font-size: 1.1rem;
		margin-top: 1.5rem;
		margin-left: 1rem;
		cursor: pointer;
	}

	.channel-list {
		margin-left: 1rem;
		ul li {
			display: flex;
			padding: 0.5rem 1rem;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			&:first-of-type {
				margin-top: 1rem;
			}

			&.active {
				background-color: #1463a3;
			}

			.channel-title {
				display: flex;
				span {
					padding-left: 0.5rem;
				}
			}

			.channel-counter {
				background-color: #b8394f;
				width: 2rem;
				height: 1.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 12px;
			}
		}
	}
}
