.ChatInput {
	border: 1px solid rgb(173, 173, 173);
	width: 90%;
	text-align: center;
	margin-left: 1rem;
	position: absolute;
	bottom: 0;

	textarea {
		width: 95%;
		font: 14px/22px "Lato", Arial, sans-serif;
		resize: none;
		border-radius: 5px;
		margin: 5px 5px 0 5px;
		padding: 10px 0;
		outline: none;
		border: none;
	}

	.chat-toolbars-container {
		display: flex;
		background-color: rgb(235, 235, 235);
		.chat-toolbar {
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid rgb(200, 200, 200);
			width: 40px;
			height: 40px;
			font-size: 1.3rem;
			color: rgb(75, 75, 75);
		}
	}
}
